---
import { Image } from 'astro:assets';
import project1 from "../../assets/images/projects/project1.png";
import { faArrowRight } from '@fortawesome/pro-regular-svg-icons';
import Fa from 'svelte-fa';
const { image, title, link } = Astro.props;

---

<div class="w-full h-[527px] bg-black bg-opacity-30 rounded-[40px] relative flex items-center group overflow-hidden">
    <Image src={image} alt="Viivo" class="blur-none group-hover:blur-sm object-cover absolute w-full h-full scale-100 duration-300 transition-all group-hover:scale-125 "
        widths={[340]}
        width={340}
        height={527}
    />
    <div class="px-8">
        <div class="text-white text-[40px] font-semibold font-['Geologica'] relative">{title}</div>
        <div class="flex absolute bottom-16 w-[50px] rounded-3xl group-hover:w-[128px] duration-300 bg-gradient-to-r from-secondary-1 to-secondary-2 ">
            <div class="size-[50px] absolute bg-transparent rounded-full ">
                <Fa icon={faArrowRight} class="-rotate-45  text-white group-hover:text-white text-lg left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2  absolute size-[50px] group-hover:rotate-0 duration-300 transition-all"  />
            </div>
            <div class=" relative  w-[128px] h-[50px]   duration-500 transition-all"></div>
            <div class=" absolute  w-[128px] h-[50px] flex items-center pl-12  duration-500 transition-all text-transparent group-hover:text-white text-base font-normal font-['Geologica'] ">
                Ver más 
            </div>
        </div>
    </div>
</div>