---
import { Image } from 'astro:assets';
import form1 from "../../assets/images/forms/form1.png";
import form2 from "../../assets/images/forms/form2.png";
import form3 from "../../assets/images/forms/form3.png";
import Text from "../../components/GradientText.astro";
import BtnPrimary from "../../components/ButtonPrimary.astro";

---
<div class="relative">
    <div class="w-[600px] h-[600px]   absolute opacity-20 bg-gradient-to-r from-indigo-700 to-violet-700 rounded-full blur-[200px]"></div>
    <p class="text-white text-[64px] font-semibold font-['Geologica']">
        ¿Por qué 
        <Text gradient="primary">
            nos eligen?
        </Text>
    </p>
    <p class="w-[931px] text-white text-lg font-normal font-['Geologica'] py-8">Somos una productora audiovisual que se especializa en la creación de contenidos orientados al deporte.</p>
    <BtnPrimary />
       
    <div class="grid grid-cols-3 gap-6 py-12">
        <div class=" px-4 bg-black bg-opacity-25 rounded-[32px] border border-indigo-500 p-8">
            <div class="pb-6">
                <Image src={form1} alt="Sabbi" class="object-cover" />
            </div>
            <p class=" text-white text-lg font-normal font-['Geologica']">
                Contamos con un equipo de expertos en el mundo del deporte
            </p>
        </div>

        <div class=" px-4 bg-black bg-opacity-25 rounded-[32px] border border-indigo-500 p-8">
            <div class="pb-6">
                <Image src={form2} alt="Sabbi" class="object-cover" />
            </div>
            <p class="w-[282.67px] h-[69px] text-white text-lg font-normal font-['Geologica']">Tenemos un equipo para obtener tomas únicas y espectaculares</p>
        </div>
        <div class=" px-4 bg-black bg-opacity-25 rounded-[32px] border border-indigo-500 p-8">
            <div class="pb-6">
                <Image src={form3} alt="Sabbi" class="object-cover" />
            </div>
            <p class="w-[282.67px] h-[69px] text-white text-lg font-normal font-['Geologica']">Usamos técnicas innovadoras y creativas para contar historias</p>
        </div>
        
    </div>
</div>