---
import { Image } from 'astro:assets';
import form1 from "../../assets/images/forms/form1.png";
import form2 from "../../assets/images/forms/form2.png";
import form3 from "../../assets/images/forms/form3.png";
import Text from "../../components/GradientText.astro";
import BtnPrimary from "../../components/ButtonPrimary.astro";

---
<div class="py-20">
    <p class="text-white text-[64px] font-semibold font-['Geologica'] text-center">
        Lo que dicen
        <Text gradient="primary">
            de nosotros
        </Text>
    </p>



<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    <div class="grid gap-4">
        <div class="pt-12">
            <div class=" h-fit  p-8 bg-slate-900 rounded-[40px] flex-col justify-start items-start gap-10 inline-flex">
            <div class="self-stretch justify-start items-center gap-[11px] inline-flex">
                <img class="w-12 h-12 rounded-full" src="https://via.placeholder.com/48x48" />
                <div class="grow shrink basis-0 flex-col justify-end items-start inline-flex">
                    <div class="self-stretch text-white text-lg font-semibold font-['Geologica']">Emilio Yamin</div>
                    <div class="self-stretch text-violet-300 text-sm font-normal font-['Geologica']">Director IMCUFIDE Metepec</div>
                </div>
            </div>
            <div class="self-stretch text-white text-lg font-normal font-['Geologica']">El trabajo realizado sin duda alguna es bastante bueno. El equipo de producción es muy profesional en toda la extensión de la palabra, las ideas presentadas son entendidas y plasmadas acorde a lo ideado.</div>
        </div>
        </div>
       
    </div>
    <div class="grid gap-4">
        <div>
            <div class=" h-fit p-8 bg-slate-900 rounded-[40px] flex-col justify-start items-start gap-10 inline-flex">
                <div class="self-stretch justify-start items-center gap-[11px] inline-flex">
                    <img class="w-12 h-12 rounded-full" src="https://via.placeholder.com/48x48" />
                    <div class="grow shrink basis-0 flex-col justify-end items-start inline-flex">
                        <div class="self-stretch text-white text-lg font-semibold font-['Geologica']">Román Rogel</div>
                        <div class="self-stretch text-violet-300 text-sm font-normal font-['Geologica']">Academic</div>
                    </div>
                </div>
                <div class="self-stretch text-white text-lg font-normal font-['Geologica']">VIIVO Productions nos vino ayudar a conectar con una audiencia que de manera tradicional nos hubiera resultado difícil, los que aman los deportes, nos captaron bien lo que queríamos y lo mejor es que pudieron materializarlo de la mejor manera.</div>
            </div>
        </div>
        <div>
            <div class="p-8 bg-slate-900 rounded-[40px] flex-col justify-start items-start gap-10 inline-flex">
                <div class="self-stretch justify-start items-center gap-[11px] inline-flex">
                    <img class="w-12 h-12 rounded-full" src="https://via.placeholder.com/48x48" />
                    <div class="grow shrink basis-0 flex-col justify-end items-start inline-flex">
                        <div class="self-stretch text-white text-lg font-semibold font-['Geologica']">Juan Carlos Pedroza</div>
                        <div class="self-stretch text-violet-300 text-sm font-normal font-['Geologica']">DT Artesanos de Metepec</div>
                    </div>
                </div>
                <div class="self-stretch text-white text-lg font-normal font-['Geologica']">Me encantó trabajar con Viivo Producctions, además de ser gente joven y fresca, son talentos natos que dominan el tema, se preocupan por estar bien informados. Además, sus instalaciones son increíbles,  el equipo que tienen es de vanguardia y la calidad de video es muy buena. <br/></div>
            </div>
        </div>
      
    </div>
    <div class="grid gap-4">
        <div class="pt-12">
            <div class=" h-fit  p-8 bg-slate-900 rounded-[40px] flex-col justify-start items-start gap-10 inline-flex">
                <div class="justify-start items-center gap-[11px] inline-flex">
                    <img class="w-12 h-12 rounded-full" src="https://via.placeholder.com/48x48" />
                    <div class="w-[251px] flex-col justify-end items-start inline-flex">
                        <div class="self-stretch text-white text-lg font-semibold font-['Geologica']">Isidro Oshea</div>
                        <div class="self-stretch text-violet-300 text-sm font-normal font-['Geologica']">Demo Crazy</div>
                    </div>
                </div>
                <div class="self-stretch text-white text-lg font-normal font-['Geologica']">Me han hecho sentir bastante cómodo. La creatividad y disposición es excelente, siempre dispuestos a mejorar. La calidad de video e infraestructura es muy buena, cosa que se traduce a producciones audiovisuales bastante buenas.</div>
            </div>
      
    </div>

</div>

       

</div>